@import   url(https://fonts.googleapis.com/css?family=Oswald);


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: "Open Sans";
    text-align: justify;
}

h1, h2 {
    font-family: Oswald;
    font-variant: small-caps;
}

h1 {
    font-size: 4em;
    color: #ffffff;
 }
h2 { font-size: 1.6em; }

p, li {
    font-size: 1.5em;
    overflow-x: auto;
}

body {
    margin: 0px;
    padding-bottom: 2em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#titlebox {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #243373;
    box-shadow: 0px 3px 5px #f5f3f4;
}

@media (max-width: 800px) {
    #content {
        width: auto;
    };
}

@media (min-width: 801px) {
    #content {
        width: 50%;
    };
}

#content {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-left: 1.5em;
}

a, li, p {
    hyphens: auto;
    -moz-hyphens: auto;
}

a {
    color: #de6400;
}

a:visited {
    color: #de6400;
}
